.counter {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 3;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 54px;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
  background: linear-gradient(-45deg, #131313, #262626);
  text-align: center;
  color: whitesmoke;
  div {
    user-select: none;
    cursor: pointer;
    filter: drop-shadow(0rem 0rem 0.25rem #4b4b4b);
  }
}

.counter:active {
  div {
    transform: scale(1.05);
  }
}

@media(max-width: 450px) {
  .counter {
    font-size: 24px;
  }
}
