:host {
  height: 100%;
  width: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.sticker {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  cursor: pointer;

  aspect-ratio: 1 / 1;
  height: 100%;

  filter: drop-shadow(0rem 0rem 0.25rem #313131);

  user-select: none;

  transition: all 0.25s ease;
  .sticker-video {
    transition: all 0.25s ease;
    video {
      transition: all 0.25s ease;
    }
  }
}

.sticker-full {
  z-index: 9999;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px);

  .sticker-video {
    video {
      max-width: fit-content;
      max-height: -webkit-fill-available;
      aspect-ratio: 1 / 1;
      height: fit-content;
    }
  }
}

.sticker-video {
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  width: 100%;
  height: 100%;
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;

  video {
    width: 98%;
    height: 98%;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 100%;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  z-index: 1;
}

.sticker-circle {
  transition: all .2s ease-in-out;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  user-select: none;

  border-radius: 50%;

  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;

  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

  z-index: 3;
}

.sticker-circle:hover {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  filter: drop-shadow(0rem 0rem 0.15rem #525252);
  transform: scale(1.05);
}

.sticker-title {
  user-select: none;
  color: white;
  filter: drop-shadow(0rem 0rem 0.5rem #444444);
  font-size: 28px;
}

.sticker-locked {
  user-select: none;
  color: white;
  filter: drop-shadow(0rem 0rem 0.5rem #444444);
  font-size: 30px;
}

@media(max-width: 900px) {
  .sticker-title {
    font-size: 22px;
  }
  .sticker-locked {
    font-size: 24px;
  }
  .sticker-loader {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    width: 25px;
    height: 25px;
  }
}

@media(max-width: 450px) {
  .sticker-title {
    font-size: 18px;
  }
  .sticker-locked {
    font-size: 20px;
  }
  .sticker-loader {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    width: 25px;
    height: 25px;
  }
}
