<div class="sticker" [ngClass]="{'sticker-full':fullScreen}">

  <div class="sticker-video" (click)="toggleVideo()">
    <video #videoPlayer *ngIf="!sticker.locked">
      <source src="{{sticker.videoSrc}}" type="video/webm">
    </video>
  </div>

  <div class="sticker-circle animate__animated"
       (click)="showSticker()"
       [ngClass]="animatePeel"
       [ngStyle]="{'background': sticker.backColor}"
       [style.z-index]="peeled ? 666 : ''">
    <div class="sticker-title" *ngIf="!sticker.locked">{{sticker.dayTitle}}</div>
    <div class="sticker-locked" *ngIf="sticker.locked">🔒</div>
  </div>

</div>
