.main {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  user-select: none;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}

.title {
  font-size: 32px;
  font-weight: 500;
  height: 5%;
  width: 100%;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  text-align: center;
  filter: drop-shadow(0rem 0rem 0.25rem #4b4b4b);
}

.calendar {
  //background-color: cornflowerblue;
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.sticker {
  user-select: none;
  flex: 1 1 250px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-bottom: 5px;
  padding-top: 5px;
}

.footer {
  justify-content: center;
  height: 5%;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  color: whitesmoke;

  .rand {
    filter: drop-shadow(0rem 0rem 0.05rem #313131);
    cursor: pointer;
    user-select: none;
    font-size: 28px;
  }

  .rand:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
  }

  .author {
    position: absolute;
    left: 15px;
    font-size: 20px;
    filter: drop-shadow(0rem 0rem 0.25rem #313131);
  }

  .year {
    position: absolute;
    right: 15px;
    font-size: 20px;
    filter: drop-shadow(0rem 0rem 0.25rem #313131);
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-0.5px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(1px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(2px, 0, 0);
  }
}

.loader {
  user-select: none;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
}

.loader-circle {
  user-select: none;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  width: 54px;
  height: 54px;
  animation: spin 2s linear infinite;
  filter: drop-shadow(0rem 0rem 0.25rem #313131);
}

.loader-text {
  font-size: 20px;
  color: whitesmoke;
  filter: drop-shadow(0rem 0rem 0.15rem #313131);
  margin-top: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media(max-width: 1200px) {
  .sticker {
    flex: 1 1 200px;
  }
}


@media(max-width: 900px) {
  .sticker {
    flex: 1 1 150px;
  }
  .title {
    font-size: 24px;
  }
}

@media(max-width: 700px) {
  .sticker {
    flex: 1 1 120px;
  }
  .title {
    font-size: 20px;
  }
}

@media(max-width: 500px) {
  .sticker {
    flex: 1 1 110px;
  }
  .title {
    font-size: 18px;
  }
}

@media(max-width: 405px) {
  .calendar {
    padding: 3px;
  }
  .sticker {
    flex: 1 1 100px;
    padding-bottom: 3px;
    padding-top: 3px;
  }
  .title {
    font-size: 16px;
    padding-top: 3px;
  }
  .footer {
    padding-bottom: 3px;

    .rand {
      font-size: 20px;
    }

    .author {
      font-size: 14px;
    }

    .year {
      font-size: 14px;
    }
  }
}

.snow-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 2;
  pointer-events: none;
}

.snow {
  display: block;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  transform: translate3d(0, -100%, 0);
  -webkit-animation: snow linear infinite;
  animation: snow linear infinite;
}

.snow.foreground {
  background-image: url("https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-large-075d267ecbc42e3564c8ed43516dd557.png");
  -webkit-animation-duration: 15s;
  animation-duration: 15s;
}

.snow.foreground.layered {
  -webkit-animation-delay: 7.5s;
  animation-delay: 7.5s;
}

.snow.middleground {
  background-image: image-url("https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-medium-0b8a5e0732315b68e1f54185be7a1ad9.png");
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
}

.snow.middleground.layered {
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
}

.snow.background {
  background-image: image-url("https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-small-1ecd03b1fce08c24e064ff8c0a72c519.png");
  -webkit-animation-duration: 30s;
  animation-duration: 30s;
}

.snow.background.layered {
  -webkit-animation-delay: 15s;
  animation-delay: 15s;
}

@-webkit-keyframes snow {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  100% {
    transform: translate3d(15%, 100%, 0);
  }
}

@keyframes snow {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  100% {
    transform: translate3d(15%, 100%, 0);
  }
}
