<div class="main">
  <div class="title animate__animated" [ngClass]="{'animate__tada': isLoaded}">
    {{title}}
  </div>
  <div class="calendar">
    <div class="sticker" *ngFor="let sticker of stickers">
      <app-sticker #stickers [sticker]="sticker" (loadEvent)="loadTrigger($event)"/>
    </div>
  </div>
  <div class="footer">
    <div class="author" (click)="toAuthor()">&#64;TheToxin</div>
    <div class="rand" (click)="randomStick()" [ngClass]="{'shake': shakeAnim}">🎲</div>
    <div class="year" (click)="showCounter()">{{newYearCounter}}</div>
  </div>
  <div class="loader" *ngIf="!isLoaded">
    <div class="loader-circle"></div>
    <div class="loader-text">{{loadText}}: {{loadCounter}} / {{daysCount}}</div>
  </div>
</div>

<app-snow *ngIf="isLoaded && !isCounter"></app-snow>

<router-outlet></router-outlet>


